.root {
  color: white;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(255, 0, 35, 0.7036064425770308) 100%,
    rgba(9, 9, 121, 0.8492647058823529) 43%
  );
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 1.2rem 1rem 0rem 1rem;
}

.root .first {
  display: flex;
}

.first li {
  font-size: 1.2rem;
  list-style: none;
  box-sizing: border-box;
  padding-left: 1rem;
}

.first #one {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.first #two {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  flex: 1;
}
.first #three {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  flex: 1;
}
.first #four {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  flex: 1;
}

.media {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}

h3{
  color: black;
}

.root span {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 1rem;
  height: 5vh;
}

@media screen and (max-width: 600px) {
  .root {
    padding: 0;
    font-size: 0.7rem;
  }

  .first #one {
    font-size: 1rem;
    gap: 1rem;
  }
  .first #two {
    font-size: 1rem;
  }
  .first #three {
    font-size: 1rem;
  }
  .first #four {
    font-size: 1rem;
  }
}
