.root {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    10deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 0.8492647058823529) 39%,
    rgba(255, 0, 35, 0.7036064425770308) 100%
  );
  height: 100vh;
  background-image: url("https://images.pexels.com/photos/4761352/pexels-photo-4761352.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-repeat: no-repeat;
  background-size:cover;
}

.heading{
    color: white;
    top: 45%;
    position: relative;
    z-index: 1;
    width: 50%;
    font-size: 3.5rem;
}


@media screen and (max-width:600px) {
    .heading{
        top: 25%;
        font-size: 2rem;
    }
}