.root {
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(255, 0, 35, 0.7036064425770308) 100%,
    rgba(9, 9, 121, 0.8492647058823529) 43%
  );
}

h2 {
  color: red;
}

.routes {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.link {
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
}
.menu {
  display: none;
}

@media screen and (max-width: 600px) {
  .routes {
    position: absolute;
    flex-direction: column;
    top: 5rem;
    right: 1rem;
    align-items: flex-end;
  }
  .button {
    position: relative;
    left: 13.5rem;
    top: 13rem;
  }

  .menu {
    display: inline-block;
  }
  .hide {
    transform: translateX(10rem);
  }
  .show {
    transform: translateX(0);
  }
}
a:active{
  color:yellow;

}
