.root {
  overflow: auto;
  display: flex;
  gap: 2rem;
  padding: 1.5rem;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  max-height: fit-content;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(255, 0, 35, 0.7036064425770308) 100%,
    rgba(9, 9, 121, 0.8492647058823529) 43%
  );
}

.first .second .third {
  border-radius: 10%;
}

.first {
  box-sizing: border-box;
  height: 60%;
  position: relative;
  background-color: lightblue;
  color: blue;
  font-family: cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex: 1;
}

h2 {
  color: red;
  font-size: 2rem;
}

.number {
  font-size: 5rem;
}

.second {
  height: 70%;
  padding: 1rem;
  position: relative;
  background-color: lightgreen;
  color: blue;
  font-family: cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}
.button {
  width: 80%;
}
.third {
  height: 70%;
  padding: 1rem;
  position: relative;
  background-color: lavender;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  flex: 2;
  gap: 1rem;
}
li {
  font-size: 1.5rem;
  list-style: none;
}
@media screen and (max-width: 600px) {
  .root {
    align-content: center;
    flex-direction: column;
  }
  .first {
    padding: 1rem;
    max-height: fit-content;
    width: 70%;
  }
  .second {
    padding: 1rem;
    max-height: fit-content;
    width: 70%;
  }
  .button {
    width: 60%;
    margin-right: 6rem;
  }
  .third {
    height: fit-content;
  }
}
