.root {
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-height: fit-content;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 50%;
  align-items: center;
  border: 2px solid black;
  padding: 2rem 5rem 2rem 5rem;
  box-sizing: border-box;
}
